.about{
    display: flex;
    width: 80vw;
    margin:0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}
.aboutTop, .aboutBtm{
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.aboutTxt{

  
    display: flex;    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    text-align: center;
}
.aboutTxt p{
    padding-top:60px;
    line-height: 2;
    text-align: left;
}
.aboutImg{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.aboutImg img{
   width: 100%;
   height: auto;
}
.circle-img{
    width: 40%;
    height: auto;
   text-align: center;
}
.circle-img img{
   width: 80%;
   height: auto;
}
.green{
    color:#2DB88E;
}