.team{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between;
   
    font-family: 'Roboto', sans-serif;
   
  
}
.header{
    text-align: center;
}
.header h2{
    color:#4ac746;
    margin-bottom: 20px;
}
.header h4{
    color:rgb(11, 152, 218)
}
.person{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;

}
.profile{
    display: flex;
    flex-direction: row;
    padding: 20px;
   
}
.discordImg, .twit {
    display: flex;
    align-items: center;
    padding: 12px;
}
.twit img{
    height: 40px;
    width:40px;
}
.discordImg img{
    height: 40px;
    width:40px;
}
.image img{

    height: 10rem;
    width:9rem;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stat{
    
    bottom:0;
    margin-top: 20px;
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(252, 250, 247, 0.562);
    flex-wrap: wrap;
  
    
}
.statCl, .statTw, .statDis, .statIns{
    width: 200px;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 20px;

}


.blue{
    color:rgb(11, 152, 218)
}
.stat span{
    align-self: center;
    font-size: 30px;
    position:absolute;
    bottom: 0;
}




