.team{
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: space-between;
   
    font-family: 'Roboto', sans-serif;
   
  
}
.header{
    text-align: center;
}
.header h2{
    color:#2DB88E;
    margin-bottom: 20px;
}
.header h4{
    color:#54ACE4;
    width: 80%;
    margin: 0 auto;
}
.person{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90vw;

}
.profile{
    display: flex;
    margin:20px;
    flex-direction: row;
    padding: 10px 0 40px 0;
    position: relative;
    align-items:center;
    justify-content: center;
    width: 350px;
    border-radius: 5px;
    box-shadow:-1px -1px 5px rgba(245, 252, 241, 0.651),
    1px 1px 5px rgba(32, 41, 34, 0.342);
   
}
.profile-text{
    position: absolute;
    
    bottom: 10PX;
    width: 150%;
}
.profile-text h4{
    text-align: center;
    color: rgba(0, 0, 0, 0.788);
}

.discordImg, .twit {
    display: flex;
    align-items: center;
    padding: 5px;
}
.twit img{
    height: 30px;
    width:30px;
}
.discordImg img{
    height: 30px;
    width:30px;
}
.image img{
    margin: 0;
    height: 9rem;
    width:8rem;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.stat{
    
    bottom:0;
    margin-top: 20px;
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
  
    
}
.statCl, .statTw, .statDis, .statIns{
    width: 200px;
    height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    margin-bottom: 20px;

}


.blue{
    color:#54ACE4;
}
.stat span{
    align-self: center;
    font-size: 30px;
    position:absolute;
    bottom: 0;
}




