*{
    margin:0;
    padding: 0;
}
.partners, .clients{
    font-family: 'Roboto', sans-serif;
    width: 80vw;
    margin:  0 auto;
    
    padding: 100px 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    border-bottom: 5px solid #54ACE4;
}

.images{
    margin-top:20px;
    width:60vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  
}
.images img{
    margin: 30px 20px 30px;
    height: 80px;
    max-width: 250px;
}
.partners h1, .clients h1{
    color:#54ACE4;
    font-weight: bold;
    margin-bottom: 15px;
}
.partners h3{
    color:#2DB88E;
    margin-bottom: 50px;
    margin-top: 20px;
}
.clients h3{
    color:#2DB88E;
    margin-bottom: 20px;
  
}
.clients h4{
    text-align: center;
    color: rgba(0, 0, 0, 0.664);
}
.clinets-img{
    margin-top:60px;
}

