
*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
  
}
nav .pc{
  display: flex;
  flex-direction: column;
  max-width: 100vw;
 
}
.top{
  background-color: #041d52fd;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.topLogo{
  color: white;
  display: flex;
  align-items: center;
  width: 250px;
}

.topBar{
  background-color: #4fa8d1;
  padding: 5px 0;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
 

}

.socialLogo{
  display: flex;
  align-items: center;
  justify-content:flex-start;
  width:200px;
  height: 100%;
}
.socialLogo img{
  height: 35px;
  width: 35px;
 
}
img{
  color: white;
  height: 60px;
  margin: 0 5px;
}
.logo{
  color:white;
}
.contactMail{
  display: flex;
  height: 40px;
  width: 300px;
  align-items: center;
  justify-content: center;
  background-color: black;
  display: flex;
}
.contactMail>h4{
  padding: 5px 10px;
  color:white;
  
}
.svg-inline--fa {
padding-left: 5px;
  height: 1.3em;
}

.topBar ul{
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: -webkit-sticky;
  padding: 3px;
  text-align: center;
}
.topBar ul a{
  padding: 0 10px;
}
.topBar>ul>a:hover, .logo:hover{
  cursor: pointer;
  color:white;
}


  .crcont{
   
    display:flex;
    justify-content: space-around;
    height: 30px;
    width: 700px;
    background-color: white;
    align-items: center;
    box-shadow:-1px -1px 5px lightgrey,
    1px 1px 5px #200000;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    
    
   
  }
  .cryptoCl{
    width:300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 15px;
   
  }
  .cryptoCl{
    width:250px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-align: center;
   
  }
  
  .cryptoCl img{
    height: 30px;
    width: 30px;
  }
  
  li{
    list-style: none;
  }
  .mobileNav{
    display: none;
  }
  .cryptoCl{
    animation: animate 30s linear infinite;
    
   
    
    
 
    
  }
  .colorRed{
    color: red;
    margin-left: 8px;
  }
  .colorGreen{
    color: green;
    margin-left: 8px;
  }

  @keyframes animate {
    0%
    {
      transform:translateX(400%);
     
    }
  
   
    100%{
      transform: translateX(-459%);
      
    
    }
  }

  

  .topMobile{
    display: none;
  }



  